/*     <!-- Name-SM Aqib Hossain
    ID 2120009 --> */

.UL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d274d;
  display: flex;
  justify-content: center;
}

.LI {
  float: left;
}

.LI a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #03193b;
}

body {
  font-family: Madimi One, Montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #0d274d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #03193b;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: xx-large;
}
section {
  /* padding-left: 70px;
  padding-right: 70px; */
  padding-left: 250px;
  padding-right: 250px;
}
.icons {
  height: 100px;
  width: 100px;
}
.icon_pack {
  padding-top: 5px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}
.tag {
  text-align: center;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0d274d;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
}
footer li {
  color: white;
  text-decoration: none;
  text-align: center;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer ul {
  list-style: none;
}
